body {
  background-color: teal;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.row {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

#nav-top {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#nav-bottom {
  width: 100%;
  bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  height: 750px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* flex: 0 1 300px; */
  margin: 10px;
  width: clamp(300px, 75%, 550px)
}
