

.parallax {
  padding-top: 20%;
  margin-top: 0px;
  background-image: url("../images/tree.jpg");
  height: 200px;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#desc_title {
  padding-bottom: 1%;
  padding-top: 1%;
}

#description {

}

#garden_text{
  width: 100%;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.garden_info {
  padding-left: clamp(2%, 10%, 50%);
  padding-right: clamp(2%, 30%, 50%);
  font-family: Arial;
}
