body {
  background-color: teal;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.row {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

#projects {
  margin-top: 4%;
}

.hovered-project {
  height: auto;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#nav-top {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#nav-bottom {
  width: 100%;
  bottom: 0px;
  position: fixed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#nav-bottom.bottom-nav-collapse {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  background: #000;
}

.card {
  height: 750px;
  background-image: url("../images/tree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: clamp(300px, 75%, 550px)
}

.card-body {
  margin-top: 60%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.title-move {
  display: none;
}

.card-img-top {
  border-radius: 20px;
}

.image-title {
  position: absolute;
  top: 15px;
  left: 16px;
  color: white;
  font-size: 6.5vw;
}

.parallax {
  margin-top: 10%;
  background-image: url("../images/tree.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
